body {
    background-color: #FAF0E6;
}
.center {
    text-align:center;

}
#paragraph1 {
    text-align: center;
    color:turquoise;
}
h1 {
    color: red;
    font: italic;
    font-size: 40px;
    margin-left: 40px;
    border:yellow;
    border-style: dotted;
    
}


a.one:link {
    color:seagreen;
    text-decoration: underline;
    position: relative;
    font-size: 25px;
    font:menu
}
a.one:visited {
    color:slategrey;
}
a.one:hover {
    color: violet;
}
a.one:active {
    color: blue;
}
a.two:link {
    color:magenta;
    text-decoration: underline;
    position: relative;
    font-size: 25px;
    font:italic;
}
a.two:visited {
    color:slategrey;
}
a.two:hover {
    color:violet;
}
a.two:active {
    color:blue;
}
a.three:link {
    color:brown;
    text-decoration: underline;
    position: relative;
    font-size: 25px;
    font:larger;
}
a.three:visited {
    color: slategrey;
}
a.three:hover {
    color: violet;
}
a.three:active {
    color: blue;
}
div {
    height: 200px;
    width: 50%;
    background-color: powderblue;
}
#paragraph2 {
    text-align: center;
}
#paragraph3 {
    text-align: center;
    color: aqua;
}
h2 {
    color: red;
    font:message-box;
}
h3 {
    color:yellow;
    font:small-caps
}

